<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="测试套件">
    <test name="testDemo">
        <classes>
            <class name="com.styd.testcases.GetDemo"/>
            <class name="com.styd.testcases.PostDemo"/>
            <class name="com.styd.testcases.TestDemo"/>
        </classes>
    </test>


    <listeners>
        <listener class-name="com.styd.utils.ExtentTestNGIReportListener"></listener>
    </listeners>
</suite>