<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="测试套件">
    <test name="testDemo">
        <classes>
            <class name="com.styd.testcases.TestDemo">
                <methods>
                    <include name="nearby_shop_test"/>
                    <include name="get_agreement_test"/>
                </methods>
            </class>
        </classes>
    </test>


    <listeners>
        <listener class-name="com.styd.utils.ExtentTestNGIReportListener"></listener>
    </listeners>
</suite>